html{
  scroll-snap-type: y mandatory;
}
.App{
  background-color: #000;
  height: 100vh;
  color: #fff;
  display: grid;
  place-items: center;
}

.app__videos{
  height: 95vh;
  max-height: 800px;
  width: 100%;
  max-width: 450px;
  border: 1px solid #000;
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}
/* Esconde a scrollbar no chrome, safari e opera */
.app__videos::-webkit-scrollbar{
  display: none;
}
/* Esconde a scrollbar no Internet Explorer, Edge e Firefox */
.app__videos{
  scrollbar-width: none;
  -ms-overflow-style: none;
}
